@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Mulish', sans-serif;
}

header {
    max-width: 81.25%;
    margin: 5rem auto 0;
}

/* nav styles here  */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-nav-menu {
    display: none;
}

.info {
    display: flex;
    align-items: center;
    gap: 1.663rem;
}



.info h1 {
    font-size: 3.6rem;
    font-weight: 800;
    color: #131318;
}

.logo-color {
    color: #FF5400;
}



.nav-menu>ul {
    display: flex;
    list-style: none;
    font-size: 1.8rem;
    font-weight: 400;
    gap: 4.4rem;
}