@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:wght@400;700;800&display=swap');

/* global styles  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Mulish', sans-serif;
}

header,
main {
    max-width: 81.25%;
    margin: 5rem auto 0;
}

.common-btn-new {
    width: 17.4rem;
    height: 5.2rem;
    color: #FFF;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    border-radius: 0.8rem;
    background: #FF5400;
    border: none;
}

.section-heading {
    color: #131318;
    font-size: 4rem;
    font-weight: 800;
}

.description-text {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 2.4rem;
    line-height: 2.6rem;
}

.card-heading {
    color: #131318;
    font-size: 2.4rem;
    font-weight: 800;
    margin-top: 3.2rem;
}

/* nav styles here  */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-nav-menu {
    display: none;
}

.info {
    display: flex;
    align-items: center;
    gap: 1.663rem;
}

.info h1 {
    font-size: 3.6rem;
    font-weight: 800;
    color: #131318;
}

.logo-color {
    color: #FF5400;
}

.nav-menu>ul {
    display: flex;
    list-style: none;
    font-size: 1.8rem;
    font-weight: 400;
    gap: 4.4rem;
}

/* main styles here  */
.hero {
    height: 50rem;
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    border-radius: 1.6rem;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;

}

.hero-container {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    border-radius: 1.6rem;
}

.hero-details {
    text-align: center;
    padding-top: 10.6rem;
    margin-bottom: 4.8rem;

}

.hero-details h1 {
    color: #FFF;
    font-size: 6.4rem;
    font-weight: 800;
}

.hero-details p {
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
    margin-top: 2.4rem;
}

.hero-find {
    width: 76.8rem;
    height: 6.8rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin: 0 auto;
    display: flex;
    align-items: center;

}

.hero-inputs {
    margin: 0 auto;
    width: 97%;
    display: flex;
    justify-content: center;
    gap: 2.4rem;
}

.hero-inputs * {
    width: 17.4rem;
    height: 5.2rem;
    border-radius: 0.8rem;
    background: #FFF;
    padding-left: 1.6rem;
    border: 0;
}

.common-btn {
    border-radius: 0.8rem;
    color: #FFF;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    background-color: #FF5400;
}

/* Our Popular Tours section styles  */
.popular-tours {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
    margin-top: 10rem;
    align-items: center;
    justify-items: end;
}

.popular-tours-details {}

.popular-tours-details ul {
    padding-left: 2.2rem;
}

.popular-tours-details button {
    margin-top: 3.2rem;
}

.description-text li {
    margin-top: 2.4rem;
}

/* choose your destination styles  */
.choose-destination {
    margin-top: 10rem;
}


.destination-details {
    margin-bottom: 4.8rem;
    text-align: center;
}

/* grid styles here  */
.destination-grid {}

.grid-a {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;

}

/* grid -a  */
.grid-a .first {
    width: auto;
    height: 37rem;
    border-radius: 1.6rem;
    background-image: url(../Images/Rectangle\ 5.png);
    background-size: 100%;
    background-size: cover;
    background-position: center;
}

/* .grid-a .first h1 */
.common-heading {
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
    font-weight: 800;
    height: 100%;
}

.grid-a .second {
    width: auto;
    height: 37rem;
    border-radius: 1.6rem;
    background-image: url(../Images/Rectangle\ 8.png);
    background-size: cover;
    background-position: center;
}

/* grid- b  */
.grid-b {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem;
    margin-top: 2.4rem;
}

.grid-b .first {
    width: auto;
    height: 37rem;
    border-radius: 1.6rem;
    background-image: url(../Images/Rectangle\ 6.png);
    background-size: cover;
    background-position: center;
}

.grid-b .second {
    width: auto;
    height: 37rem;
    border-radius: 1.6rem;
    background-image: url(../Images/Rectangle\ 7.png);
    background-size: cover;
    background-position: center;
}

.grid-b .third {
    width: auto;
    height: 37rem;
    border-radius: 1.6rem;
    background-image: url(../Images/Rectangle\ 9.png);
    background-size: cover;
    background-position: center;
}

/* grid -c  */
.grid-c {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
    margin-top: 2.4rem;
}

.grid-c .first {
    width: auto;
    height: 37rem;
    border-radius: 1.6rem;
    background-image: url(../Images/Rectangle\ 11.png);
    background-size: cover;
    background-position: center;
}

.grid-c .second {
    width: auto;
    height: 37rem;
    border-radius: 1.6rem;
    background-image: url(../Images/Rectangle\ 10.png);
    background-size: cover;
    background-position: center;
}

/* why choose us section  */
.why-us {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.choose-us-details {
    text-align: center;
    margin-bottom: 4.8rem;
}

.choose-us-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.4rem;
}

.choose-us-card .card-1 {
    border-radius: 1.6rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 57.3rem;
    height: 28.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.2rem;
}

.choose-us-card .card-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 57.3rem;
    height: 28.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.2rem;
}

.choose-us-card .card-3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 57.3rem;
    height: 28.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.2rem;
}